.home-container {
    text-align: center;
}

.main-head {
    font-family: "Roboto";
    color: rgb(35, 112, 146);
    font-size: 80px;
}

.main-desc {
    font-size: 30px;
}

.sub-head {
    font-size: 80px;
}

.home-buttons {
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(to right, rgb(147, 235, 129), rgb(96, 167, 82));
    border: none;
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
}

p {
    font-size: 50px;
}