.navbar{
    position:sticky;
    top:0;
    display:flex;
    list-style: none;
    justify-content: end;
    padding-right:15px;
    padding-top:15px;
    gap: 45px;
    height:50px;
    background:linear-gradient(to right, rgb(147, 235, 129), rgb(96, 167, 82)) ;
}

.links{
    color:#fff;
    text-decoration: none;
    font-weight:bold;
    font-size:24px;
}